:root {
  --text: #000;
  --bg: #D7DAD6;
  --newsletter-height: 3.5rem;
}

/* defaults */
body {
  background-color: var(--bg);
  font-family: Times, serif;
  line-height: 1.25;
  font-size: 1.1rem;
  position: relative;
  letter-spacing: 0.005em;
}
h1 { 
  font-family: neue-haas-grotesk-display, sans-serif; 
  font-size: 2rem;
  line-height: 0.9;
}
h1.ml-ko { 
  font-family: pretendard, sans-serif; 
  line-height: 0.95;
}
h2 { 
  font-family: neue-haas-grotesk-text, sans-serif; 
}
h2 .ml-ko { 
  font-family: pretendard, sans-serif; 
}
h3 .ml-ko,
p .ml-ko { 
  font-family: sandoll-myeongjoneo1, serif; 
  font-size: 92%; 
  line-height: 1.5;
  /* word-break: keep-all; */
}
h1, h1 > span, 
h2, h3, p { margin-bottom: 1rem; }
a {
  color: var(--text);
  text-decoration: none;
}
p a {
  border-bottom: 1px dotted var(--text);
}
p a:hover {
  border-bottom: 1px dashed var(--text);
}
h3, .underline {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
::selection {
  background: var(--text);
  color: var(--bg);
  text-shadow: none;
}
::-moz-selection {
  background: var(--text);
  color: var(--bg);
  text-shadow: none;
}
footer p {
  margin-bottom: 0;
}

/* Newsletter: Mailerlite overrides */

/* container to set height before js */
div.newsletter {
  /* background-color: var(--text); */
  border: 1px solid var(--text);
  height: var(--newsletter-height);
  position: relative;
}
/* reset Mailerlite styles */
.ml-form-embedContainer * {
  /* display: none !important; */
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  box-sizing: border-box !important;
}
/* input field */
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody, 
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow 
input {
  background-color: var(--text) !important;
  padding: 0 0.5rem !important;
  font-size: 2.5rem !important;
  background-color: var(--text) !important;
  color: var(--bg) !important;
  font-family: neue-haas-grotesk-text, sans-serif; 
  font-weight: 500;
  height: var(--newsletter-height) !important;
  line-height: var(--newsletter-height) !important;
  outline: 0px;
  transition: outline 0.2s ease-in-out !important;
}
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow 
input::placeholder {
  color: var(--bg) !important;
  opacity: 1 !important;
  transition: opacity 0.2s ease-in-out !important;
}
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow 
input:focus::placeholder {
  opacity: 0 !important;
}
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow 
input:focus-visible {
  outline: 8px dashed var(--text) !important;
}
/* button */
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit 
button {
  opacity: 0 !important;
  transition: opacity 0.2s ease-in-out !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  aspect-ratio: 1 / 1 !important;
  width: auto !important;
  height: var(--newsletter-height) !important;
  overflow: hidden !important;
  text-indent: -100rem !important;
  background-image: url('../images/icon-return.svg') !important;
  background-size: 32px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: transparent !important;
}
/* show button when input is not empty */
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent:has(input:not(:placeholder-shown)) + input + .ml-form-embedSubmit button{
  opacity: 1 !important;
}
/* hide original success message */
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent h4,
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p {
  display: none;
}
/* custom success message */
.ml-embedded #mlb2-28678024.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent::after {
  content: "Subscribed ✴";
  font-family: neue-haas-grotesk-display, sans-serif !important;
  font-weight: 500 !important;
  font-size: 2.5rem !important;
  line-height: 3.5rem !important;
  color: var(--bg) !important;
}